/* Jinja template for chat line CSS.
 * See src/chat/channel_view.py for supported tags.
 * Unfortunately Qt does not support setting the width attribute through CSS.
 */

body {
	font-family: 'Segoe UI';
	font-size: 9pt;
	font-weight: 400;
	font-style: normal;
}

p {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	-qt-block-indent: 0;
	text-indent: 0px;
}

span {
	font-family: 'MS Shell Dlg 2';
	font-size: 8pt;
}

.col_sender, .col_text, .col_time {
	color: "{{ colors['default'] }}";
	padding-top: 3; /* align with avatar icon */
}

.col_text {
	white-space: pre-wrap;
}

.player .col_sender, .player .col_text, .player .col_time {
	color: "{{ colors['player'] }}"
}

.action .col_sender, .action .col_text {
	font-style: italic;
}


{% if random_colors is not none %}
               {% for name in random_colors %}
                       .randomcolor-{{loop.index0}} .col_sender, .randomcolor-{{loop.index0}} .col_text {
                               color: "{{name}}";
                       }
               {% endfor %}
{% endif %}

.col_sender {
	text-align: right;
}

.col_time {
	text-align: right;
}

.friend .col_sender, .friend .col_text {
	color: "{{ colors['friend'] }}";
}

.foe .col_sender, .foe .col_text {
	color: "{{ colors['foe'] }}";
}

.clannie .col_sender, .clannie .col_text {
	color: "{{ colors['clan'] }}";
}

.me .col_sender, .me .col_text {
	color: "{{ colors['self'] }}";
}

.mod .col_sender, .mod .col_text {
	color: "{{ colors['mod'] }}";
}

.friend.mod .col_sender, .friend.mod .col_text, .clannie.mod .col_sender, .clannie.mod .col_text {
	color: "{{ colors['friend_mod'] }}";
}

.me.mod .col_sender, .me.mod .col_text {
	color: "{{ colors['self_mod'] }}";
}

.mentions_me .col_sender, .mentions_me .col_text {
	color: "{{ colors['you'] }}";
}

.info .col_sender, .info .col_text, .info .col_time {
	color: "{{ colors['default'] }}";
}

a {
	color: cornflowerblue;
}
