*.pyc
*.swp
*.log
*~
*.pyo
*.pyd
*.project
*.settings*
*.cproject
*.external*
*.pydev*
*.vcproj
.idea/
lib/faf-uid
lib/faf-uid.exe
ice-adapter/
build/
dist/
Thumbs.db
.DS_Store
*.orig
res/RELEASE-VERSION
__pycache__
.coverage
client_venv
*.egg-info
.vagrant
.cache
