*.pyc
*.swp
*.log
*~
*.pyo
*.project
*.settings*
*.cproject
*.external*
*.pydev*
*.vcproj
Thumbs.db
build/
dist/
_cache/
src/aip/Setup Files
*.orig
src/aip/faforever-cache
src/bsdiff.pyd
.idea/
RELEASE-VERSION