language: python


python:
  - "2.7_with_system_site_packages"

install:
  - "sudo apt-get update"
  - "sudo apt-get install python-qt4 liblua5.1"
  - "sudo apt-get install python-qt4 liblua5.1 libjpeg8-dev zlib1g-dev"
  - "pip install cx_Freeze"
  - "pip install python-coveralls"
  - "pip install -r requirements.txt --trusted-host content.faforever.com"


before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

script:
  - export PYTEST_QT_API=pyqt4v2
  - py.test -xs --cov src --cov-report term-missing

after_success:
  - coveralls
