language: python


python:
  - "2.7_with_system_site_packages"


before_insall:
  - "openssl aes-256-cbc -K $encrypted_0a6446eb3ae3_key -iv $encrypted_0a6446eb3ae3_key -in buildbotsshkey.enc -out buildbotsshkey -d"

install:
  - "bash ./.travis.sh"
  - "sudo apt-get install python-qt4 liblua5.1-0-dev"
  - "pip install -r requirements.txt"


before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - "git submodule"

script:
  - py.test --cov src --cov-report term-missing

after_success:
  - coveralls
