[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

cx-freeze = "==5.0.2"
ipaddress = "*"
pathlib = "*"
"pyqt5" = "==5.7.1"
semantic-version = "*"
idna = "*"
jsonschema = "*"
"jinja2" = "*"


[dev-packages]

python-coveralls = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-qt = "*"
wheel = "*"
