cx_Freeze==8.4.1
idna==3.10
irc==20.4.0
jinja2==3.1.6
pydantic==2.12.4
pyqt6==6.10.0
pyqt6-networkauth==6.10.0
pyqtgraph==0.13.7
pytest-cov==7.0.0
pytest-mock==3.15.1
pytest-qt==4.5.0
pytest==8.4.2
scipy==1.16.3
semantic_version==2.10.0
websockets==15.0.1
zstandard==0.25.0
