ConcurrentLogHandler
bsdiff4==1.1.4
cx_Freeze==4.3.4
enum34
git+https://github.com/FAForever/faftools.git@develop#egg=faftools
ipaddress
lupa
pathlib
py
pycparser==2.10
pytest
pytest-cov
pytest-mock
pytest-qt
python-dateutil==2.2
requests
trueskill
