
/* Central area background */

QWidget#galacticwarTab
{
	background-image: url('%THEMEPATH%/%FACTION%/bg.png');
}

QWidget#galaxyTab
{
	background-image: url('%THEMEPATH%/%FACTION%/bg.png');
}

QFrame#info_Panel
{
border-image: url('%THEMEPATH%/%FACTION%/logo.png');
}


QTabWidget#chatTabs::pane
{
	 /* The tab widget frame */
     border: none;
	 background-image: url('%THEMEPATH%/%FACTION%/bg.png');

 }


 /* Style the tab using the tab sub-control. Note that it reads QTabBar _not_ QTabWidget */	
QTabWidget#topTabs > QTabBar::tab 
{
	color: silver;
	max-width: 90px;
	min-height: 15px;
	padding:4px;
	text-align: left;
	margin-left:5px;
}


QTabWidget#topTabs > QTabBar::tab:!selected 
{
	margin-top:5px;
	background-image: url('%THEMEPATH%/top_menu.png');
	background-repeat: no-repeat;
}

								
QTabWidget#topTabs > QTabBar::tab:hover 
{
	color:white;
	background-image: url('%THEMEPATH%/top_menu_over.png');
	background-repeat: no-repeat;
}


QTabWidget#topTabs > QTabBar::tab:selected 
{
	color:white;
		background-image: url('%THEMEPATH%/%FACTION%/top_menu_active.png');
	background-repeat: no-repeat;
}

 QGroupBox
 {
	color:silver;
 }

 QCheckBox
 {
	color:silver;
 }

 QLabel
 {
	color:silver;
 }
 /********************** CHAT ********************/
 QTextEdit
{
	border-style:solid;
	border-width:1px;
	border-color:#011005;
	background-image: url('%THEMEPATH%/bg_chat.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000000;
	background-attachment: fixed;
	color:silver;
	padding:5px;
	background-color:#0b0e17;
 	border-radius: 5px;
}

/********************** TEXT EDITOR CHAT ********************/
QLineEdit
{
	border-style:solid;
	border-width:1px;
	border-color:#011005;
	background-image: url('%THEMEPATH%/metal_bg.png');
	color:silver;
	padding:5px;
	background-color:#000000;
 	border-radius: 5px;
}