
*[warning="true"]
{
    color:lightgrey;
    font-size:8pt;
}


*[titleLabel="true"]
{
    color:lightgrey;
    font-size:12pt;
    font-family: Verdana;
}

*[windowControlBtn="true"]
{
    background-color: rgba(0,0,0,0);
    width: 18px;
    height: 18px;

}

QMenuBar
{
    background-color: rgba(0,0,0,0);
}

QMenuBar::item
{
    background-color: rgba(0,0,0,0);
    color: white;
}

 QMenuBar::item:selected { /* when selected using mouse or keyboard */
     background: #a8a8a8;
 }

 QMenuBar::item:pressed {
     background: #888888;
 }


 QMenu {
     background-color: rgb(50,50,50);
     color: lightgrey;
     margin: 2px; /* some spacing around the menu */
 }

 QMenu::item {
     padding: 2px 25px 2px 20px;
     border: 1px solid transparent; /* reserve space for selection border */
 }

 QMenu::item:selected {
     background: rgba(150, 150, 150, 150);
     border-radius: 2px;
 }

 QMenu::icon:checked { /* appearance of a 'checked' icon */
     background: gray;
     border: 1px inset gray;
     position: absolute;
     top: 1px;
     right: 1px;
     bottom: 1px;
     left: 1px;
 }

 QMenu::separator {
     height: 1px;
     background: lightgray;
     margin-top: 5px;
     margin-bottom: 5px;
 }

 QMenu::indicator {
     width: 13px;
     height: 13px;
 }

QTabWidget
{
    background-color:#383838;
    color: silver;
    min-width: 80px;
    padding:4px;
}

QTabWidget::pane
{
    border: none;
    background-color: #2f2f2f;
}

QTabWidget > QTabBar::tab
{
    background-color:#383838;
    color: silver;
    min-width: 80px;
}

QTabWidget > QTabBar::tab::hover
{
    color: silver;
    background-color: #808080;
}

QTabWidget > QTabBar::tab::selected
{
    color: white;
    background-color: #758fa0;
}

QTabWidget#matchmakerQueues::pane
{
    background-color: none;
    border: none;
}

QTabWidget#matchmakerQueues::tab-bar
{
    min-width: 10000000;
    alignment: center;
}

QTabWidget#matchmakerQueues > QTabBar::tab
{
    min-width: 60px;
    min-height: 25px;
    background-color:#383838;
    color: none;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

QTabWidget#matchmakerQueues > QTabBar::tab::hover
{
    color: silver;
    background-color: #808080;
}

QTabWidget#matchmakerQueues > QTabBar::tab::selected
{
    color: white;
    background-color: #758fa0;
}


QTabWidget #lobbyTab,#gamesTab,#ladderTab,#tournamentTab,#coopTab,#replaysTab,#vaultsTab,#mapsTab,#modsTab
{ /* sets background color for every widget under a tab */
    background-color: rgba(15, 15, 15, 200);
    border-radius: 10px;
}

QTabWidget#mainTabs::tab-bar
{
     left: 25px; /* move to the right by 25px */
}



/* Central area background */
QWidget#centralwidget, QProgressDialog, QWindow, QWizard
{
    background-color: #1F1F1F;
    border: 1px solid #353535;
}

QWidget#replayScore
{
    background-color: #202025;
    background: #202025;
    padding: 0px;
}

QWidget#achievementWidget
{
    background-color: #202025;
}

QWidget#hline
{
    background-color: #202025;
}

QWidget#statisticsChartsScrollArea,#achievementsScrollArea
{
    background-color: #383838;
}

QTabWidget#mainTabs::pane
{ /* The tab widget frame */

    background-color: #2f2f2f;
    border-radius: 10px;

}

/* Style the tab using the tab sub-control. Note that it reads QTabBar _not_ QTabWidget */
QTabWidget#mainTabs > QTabBar::tab
{
    background-color: #333333;
    color: silver;
    min-width: 80px;
    padding:2px;
    padding-right: 5px;
    padding-left: 5px;
}


QTabWidget#mainTabs > QTabBar::tab:hover
{
    color:#66b9fa;
    background-color: #606060;
}

QTabWidget#mainTabs > QTabBar::tab:selected
{
    color:#000000;
    font-weight:bold;
    background-color: #adadad;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


QTabWidget#mainTabs > QTabBar::tab:!selected
{
    margin-bottom: 8px; /* make non-selected tabs look smaller */
}

/* Typical widget controls (top tabs, etc) */

QTabWidget#topTabs::pane
{
    /* The tab widget frame */
    border: none;
    background-color: #2f2f2f;
    border-radius: 10px;
}


 QTabWidget#topTabs::tab-bar
{
    top: 0px;
    left: 25px; /* move to the right by 25px */
 }


/* Style the tab using the tab sub-control. Note that it reads QTabBar _not_ QTabWidget */
QTabWidget#topTabs > QTabBar::tab
{
    background-color:#383838;
    color: silver;
    min-width: 80px;
    padding:4px;
}


QTabWidget#topTabs > QTabBar::tab:!selected
{
    margin-top:5px;
    background-color: #414b55;

}


QTabWidget#topTabs > QTabBar::tab:hover
{
    color:white;
    background-color: #606060;

}


QTabWidget#topTabs > QTabBar::tab:selected
{
    color:white;
    background-color: #758fa0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

QSplitter::handle
{
    background-color: #2f2f2f;
}


QSplitter::handle:horizontal
{
     width: 8px;
 }

QSplitter::handle:vertical
{
     height: 8px;
}

/* strangely, this seems to have no effect :( */
QSplitter::handle:hover
{
     background-color: #606060;
 }

QDateEdit
{
    background-color: #353535;
    color:orange;
    border: 1px solid;
    border-color: #555450;
}

QDateEdit:disabled
{
    color: #8D8B85;
}

QDateEdit::down-arrow
{
    color: orange;
}

QSpinBox#minRating, QLineEdit#mapName, #playerName, QSpinBox#quantity, #advQuantity,
QComboBox#modList, #value1, #value2, #value3, #value4, #value5, #value6, #leaderboardList
{
    background-color: #353535;
    color: orange;
}

QSpinBox#quantityBox, #pageBox
{
    background-color: #353535;
    color: orange;
    border: 1 solid;
    border-color: #555450;
}

QSpinBox#minRating, QSpinBox#quantity, #advQuantity
{
    border-style: solid;
    border-color: #353535;
}

QSpinBox#minRating::disabled
{
    color: #8D8B85;
}

QComboBox#filter1, #filter2, #filter3, #filter4, #filter5, #filter6,
#operator1, #operator2, #operator3, #operator4, #operator5, #operator6
{
    background-color: #353535;
    color: silver;
}

QToolBox#replayToolBox::tab
{
    background-color: rgb(32, 32, 37);
    color: silver;
    border-radius: 3px;
    padding-left: 145px; /* "alignment: center" doesn't work with toolboxes :| */
}

#advancedSearch, #mapPreview
{
    background-color: rgb(32, 32, 37);
}

QTableView
{
    outline: none,
}

QTableView::item:hover
{
    background-color: #606060;
}

QTableView::item:selected
{
    color: white;
    background-color: #306030;
    border:none;
}

/* Text controls */
QTextEdit, QPlainTextEdit, QLineEdit, QListWidget, QListView, QTableWidget, QTreeWidget, QFrame#rankedFrame, #teamFaction, #teamSearch, #partyInfo
{
    border-style:solid;
    border-width:1px;
    border-color:#353535;
    color:silver;
    padding:5px;
    background-color:#202025;
    alternate-background-color: #303035;
    border-top-right-radius : 5px;
    border-top-left-radius : 5px;
    border-bottom-left-radius : 5px;
    border-bottom-right-radius : 5px;
}

QLineEdit:disabled {
    color: #606060;
    background-color: #18181D;
    border: 1px solid #2A2A2A;
    padding: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

QFrame#rankedFrame
{
    border-style:solid;
    border-width:1px;
    border-color:#353535;
    color:silver;
    padding:5px;
    background-color:#303038;
    border-bottom-left-radius : 5px;
    border-bottom-right-radius : 5px;
}

QListView#replayScoreTeamList
{
    border-width:0px;
    border-color:#353535;
    color:silver;
    padding:0px;
    background-color:#202025;
    alternate-background-color: #303035;
    border-top-right-radius : 0px;
    border-top-left-radius : 0px;
    border-bottom-left-radius : 0px;
    border-bottom-right-radius : 0px;

}

QPlainTextEdit#mapNamePlainTextEdit
{
    border-width:0px;
    border-style:solid;
    border-color:#353535;
    color:orange;
    padding:0px;
    background-color:#202025;
    alternate-background-color: #303035;
    border-top-right-radius : 0px;
    border-top-left-radius : 0px;
    border-bottom-left-radius : 0px;
    border-bottom-right-radius : 0px;
}

QTableView
{
    border-style:solid;
    border-width:1px;
    border-color:#353535;
    color:silver;
    padding:5px;
    background-color:#202025;
    alternate-background-color: #303035;
    border-top-right-radius : 5px;
    border-top-left-radius : 5px;
    border-bottom-left-radius : 5px;
    border-bottom-right-radius : 5px;
}

/* used in ConnectivityDialog */
QTableCornerButton::section {
    background-color:#333333;
}

QHeaderView {
    background-color:#202025;
}

QHeaderView::section
{
    color: white;
    background-color: #4b4b4b;
    font: bold;
    border-left: 1 solid;

}

QHeaderView::down-arrow
{
    image: url('%THEMEPATH%/client/arrowDown.png');
}

QHeaderView::up-arrow
{
    image: url('%THEMEPATH%/client/arrowUp.png');
}

QHeaderView#VerticalHeader::section {
    color:silver;
    background-color: #333333;
    border: none;
    font: normal;
    min-width: 50px;
}

QHeaderView#VerticalHeader::section:checked
{
    color:white;
    background-color: #306030;
    border-bottom: 1px solid;
    border-color: #202025;
    width: auto;
}

QHeaderView#VerticalHeader::section:hover
{
    color:silver;
    font: bold;
    background-color: #606060;
    border-bottom: 1px solid;
    border-color: #202025;
    width: auto;
}

/* Nicklist controls */

QTableWidget::item
{
    margin: 0px;
    border: none;
    padding:0px;
}

QTableWidget::item::hover
{
    background: #606060;
    border-radius: 3px;
}

QTableWidget#filtersTableWidget::item:hover
{
    background: none;
}

QTableWidget#filtersTableWidget::item:selected
{
    color: white;
    background-color: #306030;
}

QTableWidget#nameHistoryTableWidget::item::hover
{
    background: none;
    border-radius: 0px;
}


QTableWidget::item:selected, QListWidget::item:previous-selected, QListView::item:previous-selected
{
    border: none;
}




QLineEdit
{
    color:orange;
}



QListWidget::item:hover, QListView::item:hover
{
    border: none;
    background: #606060;
    border-radius: 3px;
}

QListView::item:selected, QTreeWidget::item:previous-selected
{
    border: none;
}

QListWidget::item:selected
{
    color: orange;
    background-color: #505050;
    border: none;
}

QListWidget#newsList::item:selected

{
    background-color: #505050;
    color: #20A080;
}

QListWidget#teamList
{
    outline: 0;
}

QListWidget#teamList::item::selected
{
    color: white;
    background-color: #353535;
}

QListWidget#teamList::item::selected:!active
{
    color: silver;
}

/* for tournament*/
QListWidget#tourneyList
{
    border-style:solid;
    border-width:1px;
    border-color:#353535;
    color:silver;
    padding:5px;
    background-color:#0F0F0F;
    border-top-right-radius : 5px;
    border-top-left-radius : 5px;
    border-bottom-left-radius : 5px;
    border-bottom-right-radius : 5px;
}

QTreeWidget::item:hover
{
    border: none;
    background: #606060;
    border-radius: 3px;
}

QTreeWidget::item:selected
{
    border: none;
    background: #353535;
    border-radius: 3px;
}

QTreeWidget::item:previous-selected
{
    border: none;
}

/* ScrollWidgets*/
QScrollArea
{
    border-style:solid;
    border-width:1px;
    border-color:#353535;
    color:silver;
    padding:5px;
    background-color:#303038;
    border-bottom-left-radius : 5px;
    border-bottom-right-radius : 5px;
}

QScrollArea#replayScoreScrollArea
{
    background-color: #202025;
    background: #202025;
    color:#202025;
    border-width: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding: 0px;
}

QScrollArea#gamePanelScrollArea
{
    background-color: #1f1f1f;
}

/* Scrollbars*/
QScrollBar:horizontal {
    background-color: grey;
    height: 15px;
    margin: 0 16px;
}

QScrollBar:vertical {
    background-color: grey;
    width: 15px;
    margin: 16px 0;
}
QScrollBar::handle {
    background-image: url('%THEMEPATH%/client/drag3.png');
    background-position: center center;
    background-repeat:no-repeat;
    background-color: #2e2d2d;
    min-height: 24px;
    border-radius : 2px;
}

QScrollBar::handle:hover {
    border-radius : 2px;
    background-image: url('%THEMEPATH%/client/drag2.png');
    background-color: #d5d6d6;
    min-height: 24px;
}
QScrollBar::sub-line:horizontal {
    background: #2f2f2f;
    width: 15px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}
QScrollBar::add-line:horizontal  {
    background: #2f2f2f;
    width: 15px;
    subcontrol-position: right;
    subcontrol-origin: margin;
}
QScrollBar::sub-line:vertical {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #2f2f2f;
    height: 15px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:vertical  {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #2f2f2f;
    height: 15px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar:down-arrow {
    background-image: url('%THEMEPATH%/client/scrollDown.png');
    background-position: center center;
    background-repeat:no-repeat;
 }

 QScrollBar:up-arrow {
    background-image: url('%THEMEPATH%/client/scrollUp.png');
    background-position: center center;
    background-repeat:no-repeat;
}

QScrollBar:right-arrow {
    background-image: url('%THEMEPATH%/client/scrollRight.png');
    background-position: center center;
    background-repeat:no-repeat;
}

QScrollBar:left-arrow {
    background-image: url('%THEMEPATH%/client/scrollLeft.png');
    background-position: center center;
    background-repeat:no-repeat;
}

QScrollBar::add-page
{
    background-color: #1f1f1f;
}

QScrollBar::sub-page
{
    background-color: #1f1f1f;
}

QLabel#labelSortGames,#labelJoinGame,#labelHostGame,#labelAutomatch,#labelMyReplays,#labelLiveReplays,#labelHostTournament,#labelJoinTournament,#joinLabel,#labelTeamManagement,#labelTMM
{
    color:white;
}

QLabel#labelModHint,#labelMyHint,#labelLiveHint,#labelRankedHint,#labelTeamManagementHint,#labelTeamManagementHint2,#labelTeamManagementHint3
{
    color:#AAAAAA;
}

QLabel#titleLabel
{
    color:black;
    font-weight:bold;
}

QLabel#labelLoading,#labelAutomatchInfo
{
    color: gold;
}

QLabel#VSLabel
{
    color: black;
    background-color: #202025;
    margin: 0px;
}

QLabel#gameFiltersManagerDescription
{
    color: gold;
}

QGroupBox
{
    margin: 5px;
    border: 1px solid #353535;
    border-radius: 5px;
    background-color: rgb(32, 32, 37);
    color: silver;
    padding: 5px;
    padding-top: 15px;
}

QLabel
{
    color: silver;
}

QLabel::disabled
{
    color: gray;
}

/* Used for dialogs*/
QDialog
{
    background-color: #575656;
}

QDialog#MapGenOptionsDialog
{
    background-color:#202025;
    alternate-background-color: #303035;
}

QCheckBox::enabled
{
    color: silver;
}

QCheckBox::indicator
{
    width: 13px;
    height: 13px;
    border: 1px solid black;
}

QCheckBox::indicator:disabled {
    border-color: #202025;
}

QCheckBox::indicator:unchecked
{
    background: #303035;
}

QCheckBox::indicator:checked
{
    image: url('%THEMEPATH%/client/chboxChecked.png');
}

QCheckBox::indicator:hover {
    border-color: gray;
}

/* Used for Ranked Buttons only at the moment*/
QToolButton#rankedPlay
{
	color: silver;
	border-radius: 5px;
	border: 1px solid grey;
}

QToolButton#rankedPlay::disabled
{
    color: grey;
    border-radius: 5px;
    border: 1px solid darkslategrey;
}

QToolButton#mapsPool
{
	color: silver;
	border-radius: 5px;
	border: 1px solid grey;
}

QToolButton#showTMM
{
    color: silver;
    border: 0.5px solid black;
}

QToolButton::pressed
{
    border: none;
    color: black;
    padding:5px;
    background-color:#383838;
    border-radius : 5px;
}

QToolButton::hover
{
    border: none;

    color:silver;
    padding:5px;
    background-color:#808080;
    border-radius : 5px;
 }

QToolButton::checked
{
    border: none;
    border: 2px solid #353535;

    color:black;
    padding:5px;
    background-color:#C0C0C0;
    border-radius : 5px;
}

QToolButton#gamePanelButton
{
    color: #C0C0C0;
    background: #453939;
    padding: 2px;
    border-radius: 2px;
}

QToolButton#gamePanelButton::checked
{
    border: none;
    padding: 2px;
}

QToolButton#gamePanelButton::hover
{
    background: #808080;
}

QPushButton
{
    color: silver;
    background: #453939;
}

QPushButton:disabled
{
    color: #777777;
    background: #302828;
}

QPushButton:hover
{
    border: 1px solid #888;
}

QPushButton#refreshButton, #nextButton, #previousButton, #goToPageButton, #firstButton, #lastButton,
#resetButton, #searchPlayerButton, #UIButton, #uploadButton, #kickButton, #leaveButton
{
    color: silver;
    background: #202025;
    border: 1 solid #555450;
    border-radius: 2;
}

QPushButton#refreshButton::hover, #nextButton::hover, #previousButton::hover, #goToPageButton::hover,
#firstButton::hover, #lastButton::hover, #resetButton::hover, #searchPlayerButton::hover,
#UIButton::hover, #uploadButton::hover,  #kickButton::hover, #leaveButton::hover
{
    background-color: #808080;
}

QPushButton#searchButton, #advSearchButton, #fafDbButton, #spookyDbButton
{
	color: silver;
	border-radius: 5px;
	border: 2px solid rgb(70, 70, 70);
    font: bold 12px;
    min-height: 20px;
    background-color: rgb(39, 39, 45);
}

QPushButton#RefreshResetButton, #advResetButton
{
	color: silver;
	border-radius: 5px;
	border: 1px solid rgb(70, 70, 70);
    font: 11px;
    min-height: 20px;
    background-color: rgb(39, 39, 45);
}

QPushButton#generateMapButton, #hostGameButton
{
    color: silver;
	border-radius: 2px;
	border: 0.5px solid rgb(70, 70, 70);
    font: bold 14px;
    min-height: 30px;
    background-color: rgb(39, 39, 45);
}
QPushButton#saveMapGenSettingsButton, #resetMapGenSettingsButton, #saveHostGameSettingsButton
{
    color: silver;
    border: 0.5px solid rgb(70, 70, 70);
    background-color: rgb(39, 39, 45);
    padding: 5px;
}
QPushButton#saveMapGenSettingsButton::hover, #resetMapGenSettingsButton::hover,#generateMapButton::hover,
#hostGameButton::hover, #saveHostGameSettingsButton:hover
{
    border: none;

    color:silver;
    padding:5px;
    background-color:#808080;
    border-radius : 5px;
}

QPushButton#hostGameButton:disabled {
    color: rgb(100, 100, 100);
    background-color: rgb(30, 30, 35);
    border: 0.5px solid rgb(50, 50, 50);
}

QPushButton#newsSettings
{
    qproperty-icon: url('%THEMEPATH%/client/settings.png');
    background-color: rgb(39, 39, 45);
    border: 1px solid rgb(70, 70, 70);
    border-radius: 2px;
}

QPushButton#showAllButton
{
    qproperty-icon: url('%THEMEPATH%/client/showAll.png');
    background-color: rgb(39, 39, 45);
    border: 1px solid rgb(70, 70, 70);
    border-radius: 2px;
}

QPushButton#manageGameFiltersButton:hover
{
    color: white;
    background-color: #808080;
}

QPushButton#joinGameButton
{
    height: 18px;
    font-weight: bold;
    font-size: 11pt;
}

QSpinBox, QDoubleSpinBox
{
    color:orange;
    background-color: #353535;
    border: 1 solid;
    border-color: #555450;
}

QSpinBox::disabled, QDoubleSpinBox::disabled
{
    color: #8D8B85;
}


QComboBox, QComboBox:selected
{
    color:orange;
    selection-color:orange;
    background-color: #575656;
    selection-background-color: #575656;
}

QComboBox::disabled
{
    color:gray;
}


QComboBox QAbstractItemView {
    border: 2px solid darkgray;
    selection-background-color: #575656;
    background-color: #575656;
}

QFrame#settingsFrame {
    border-style:solid;
    border-width:1px;
    border-color:#353535;
    background-color:#404040;
    color:silver;
    border-top-right-radius : 5px;
    border-top-left-radius : 5px;
    border-bottom-left-radius : 5px;
    border-bottom-right-radius : 5px;
}

#line
{
    background-color: #202025;
}

QProgressBar#achievementBar
{
    background-color: gray;
    text-align: center;
    max-height: 12px;
    border: 1px solid black;
}

QProgressBar#achievementBar::chunk
{
    background-color: orange;
}

QStatusBar
{
    color: yellow;
}

QWidget#tech_widget,#overview_content,#overview_widget
{
    background-color: #202025;
    background: #202025;
    padding: 0px;
    border: none;
}

QWidget#gamePanelWidget
{
    background-color: #1f1f1f;
}

QFrame[frameShape="4"]
{
    background-color: #303035;
}

QLabel#vaultListItemTitle
{
    color: silver;
    font: bold;
}

QLabel#vaultListItemTitle[installed="true"]
{
    color: green;
}

QLabel[recommended="true"]
{
    color: green;
}

QLabel[unranked_map="true"]
{
    color: red;
}

QLabel#vaultThumbnail
{
    background-color: black;
    border: 1px solid black;
}

QLabel[ranked_mod="true"]
{
    color: orange;
}

QLabel#replayEventTime
{
    border-radius: 4px;
    background: #202025;
}

QTextEdit#reviewText
{
    border-style: solid;
    border-width: 1px;
    border-color: #353535;
    color: silver;
    padding: 5px;
    background-color: #303035;
    alternate-background-color: #303035;
}

QLabel#starLabel
{
    color: gold;
}

QLabel#averageReviewRatingLabel
{
    font-size: 34pt;
    font-weight: bold;
    color: #4CAF50;
}

QLabel#reviewRatingCountLabel
{
    color: #666;
    font-size: 11pt;
}

QProgressBar#reviewRatingProgressBar
{
    color: silver;
    border: none;
    background-color: black;
    text-align: right;
    height: 14pt;
    margin-right: 2em;
}

QProgressBar#reviewRatingProgressBar[rating="1"]::chunk
{
    background-color: red;
}

QProgressBar#reviewRatingProgressBar[rating="2"]::chunk
{
    background-color: #FF9800;
}

QProgressBar#reviewRatingProgressBar[rating="3"]::chunk
{
    background-color: #FFEB3B;
}

QProgressBar#reviewRatingProgressBar[rating="4"]::chunk
{
    background-color: #8BC34A;
}

QProgressBar#reviewRatingProgressBar[rating="5"]::chunk
{
    background-color: #4CAF50;
}

QPushButton[download="true"]
{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
}

QPushButton[download="true"]:hover
{
    background-color: #45a049;
}

QPushButton[download="true"]:pressed
{
    background-color: #3d8b40;
}


QPushButton[remove="true"]
{
    background-color: #F44336;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
}

QPushButton[remove="true"]:hover
{
    background-color: #e53935;
}

QPushButton[remove="true"]:pressed
{
    background-color: #d32f2f;
}

QLabel[replay_misc_info="true"]
{
    color: #666;
    font-size: 8pt;
}

QLabel#searchInfoLabel,#advSearchInfoLabel
{
    color: gold;
    font-weight: bold;
}

QSlider::groove:horizontal {
    border: 1px solid #444444;
    height: 8px;
    background: #333333;
    margin: 2px 0;
}

QSlider::groove:horizontal:disabled {
    background: gray;
}

QSlider::handle:horizontal {
    background: #1A7BFF;
    border: 1px solid #1E3D59;
    width: 10px;
    margin: -6px 0;
}

QSlider::handle:horizontal:disabled {
    background: gray;
}

QSlider::sub-page:horizontal {
    background: #1A7BFF;
    height: 6px;
}

QSlider::sub-page:horizontal:disabled {
    background: gray;
}

QSlider::add-page:horizontal {
    background: #444444;
    height: 6px;
}

QRadioButton {
    color: silver;
    spacing: 5px;
}

QRadioButton::indicator {
    width: 13px;
    height: 13px;
    border: 1px solid #353535;
    border-radius: 7px;
    background: #303035;
}

QRadioButton::indicator:hover {
    border: 1px solid #606060;
}

QRadioButton::indicator:checked {
    border: 1px solid #1A7BFF;
    background: #1A7BFF;
    image: none;
}

QRadioButton::indicator:checked:hover {
    background: #3A9BFF;
    border: 1px solid #3A9BFF;
}

QRadioButton:disabled {
    color: gray;
}

QRadioButton::indicator:disabled {
    background: #4b4b4b;
    border: 1px solid #555450;
}


QDialog#hostGameDialog {
    background: rgba(15, 15, 15, 200);
}

QLabel[bordered="true"] {
    border: 2px solid #404040;
    border-radius: 8px;
    background-color: #252525;
    color: #a0a0a0;
    padding: 2px;
}


QFrame#clanMember {
    border: 1px solid #404040;
    border-radius: 8px;
    background-color: #252525;
}

QFrame#clanMember:hover {
    border-color: #606060;
    border-radius:8px;
}

QListWidget#clanMembersList::item:selected {
    border: 1px solid #1A7BFF;
    border-radius: 8px;
}

QListWidget#clanMembersList::item:hover {
    border-radius: 8px;
}
