
 *[warning="true"]
{
    color:lightgrey;
    font-size:8pt;
}


*[titleLabel="true"]
{
    color:lightgrey;
    font-size:12pt;
    font-family: Verdana;
}

*[windowControlBtn="true"]
{
    background-color: rgba(0,0,0,0);
    width: 18px;
    height: 18px;

}

QMenuBar
{
    background-color: rgba(0,0,0,0);
}

QMenuBar::item
{
    background-color: rgba(0,0,0,0);
    color: white;
}

 QMenuBar::item:selected { /* when selected using mouse or keyboard */
     background: #a8a8a8;
 }

 QMenuBar::item:pressed {
     background: #888888;
 }

 
 QMenu {
     background-color: rgb(50,50,50);
     color: lightgrey;
     margin: 2px; /* some spacing around the menu */
 }

 QMenu::item {
     padding: 2px 25px 2px 20px;
     border: 1px solid transparent; /* reserve space for selection border */
 }

 QMenu::item:selected {
     background: rgba(150, 150, 150, 150);
     border-radius: 2px;
 }

 QMenu::icon:checked { /* appearance of a 'checked' icon */
     background: gray;
     border: 1px inset gray;
     position: absolute;
     top: 1px;
     right: 1px;
     bottom: 1px;
     left: 1px;
 }

 QMenu::separator {
     height: 1px;
     background: lightgray;
     margin-top: 5px;
     margin-bottom: 5px;
 }

 QMenu::indicator {
     width: 13px;
     height: 13px;
 }

 
QTabWidget #lobbyTab,#gamesTab,#ladderTab,#tournamentTab,#coopTab,#replaysTab,#vaultsTab,#mapsTab,#modsTab
{ /* sets background color for every widget under a tab */
        background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(15, 15, 15, 200), stop:1 #2f2f2f);
        border-radius: 10px;
}

QTabWidget#mainTabs::tab-bar
{
     left: 25px; /* move to the right by 25px */
}



/* Central area background */
QWidget#centralwidget, QProgressDialog, QWindow, QWizard
{
    color: silver;
    background-image: url('%THEMEPATH%/stripe.png');
    background-position: top left;
    background-repeat:repeat-x;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #FFFFFF, stop:0.1 #000000, stop:1 #1F1F1F);
}


QTabWidget#mainTabs::pane
{ /* The tab widget frame */

    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 rgba(15, 15, 15, 200), stop:1 #2f2f2f);
    border-radius: 5px;

}

/* Style the tab using the tab sub-control. Note that it reads QTabBar _not_ QTabWidget */
QTabWidget#mainTabs > QTabBar::tab
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:1 #555555, stop:0 #333333);
    color: silver;
    min-width: 80px;
    padding:2px;
    padding-right: 5px;
    padding-left: 5px;
}


QTabWidget#mainTabs > QTabBar::tab:hover 
{
    color:#66b9fa;
    background-color: #606060;
}

QTabWidget#mainTabs > QTabBar::tab:selected 
{
    color:#000000;
    font-weight:bold;
    background-color: #adadad;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


QTabWidget#mainTabs > QTabBar::tab:!selected 
{
    margin-bottom: 8px; /* make non-selected tabs look smaller */
}

/* Typical widget controls (top tabs, etc) */

QTabWidget#topTabs::pane
{
     /* The tab widget frame */
     border: none;
     background-color: #2f2f2f;
 }


 QTabWidget#topTabs::tab-bar
{
    top: 0px;
    left: 25px; /* move to the right by 25px */
 }


/* Style the tab using the tab sub-control. Note that it reads QTabBar _not_ QTabWidget */
QTabWidget#topTabs > QTabBar::tab 
{
    background-color:#383838;
    color: silver;
    min-width: 80px;
    padding:4px;
}


QTabWidget#topTabs > QTabBar::tab:!selected 
{
    margin-top:5px;
    background-color: #414b55;

}


QTabWidget#topTabs > QTabBar::tab:hover 
{
    color:white;
    background-color: #606060;

}


QTabWidget#topTabs > QTabBar::tab:selected 
{
    color:white;
    background-color: #758fa0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

QSplitter::handle 
{
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:0, y2:1, stop:0 #0F0F0F, stop:1 #2f2f2f);
}


QSplitter::handle:horizontal 
{
     width: 8px;
 }

QSplitter::handle:vertical 
{
     height: 8px;
}

/* strangely, this seems to have no effect :( */
QSplitter::handle:hover 
{
     background-color: #606060;
 }

QSpinBox#minRating, QLineEdit#mapName, QLineEdit#playerName, QComboBox#modList
{
    background-color: #353535;
    color: orange;
}

/* Text controls */
QTextEdit, QPlainTextEdit, QLineEdit, QListWidget, QTableWidget, QTreeWidget, QFrame#rankedFrame, QFrame#teamFaction, QFrame#teamSearch
{
    border-style:solid;
    border-width:1px;
    border-color:#353535;
    color:silver;
    padding:5px;
    background-color:#202025;
    border-top-right-radius : 5px;
    border-top-left-radius : 5px;
    border-bottom-left-radius : 5px;
    border-bottom-right-radius : 5px;

}

/* Modlist */
QFrame#rankedFrame
{
    border-style:solid;
    border-width:1px;
    border-color:#353535;
    color:silver;
    padding:5px;
    background-color:#303038;
    border-bottom-left-radius : 5px;
    border-bottom-right-radius : 5px;
}



/* Nicklist controls */

QTableWidget::item
{
    margin: 0px;
    border: none;
    padding:0px;
}

QTableWidget::item::hover
{
    background: #606060;
    border-radius: 3px;
}


QTableWidget::item:selected, QListWidget::item:previously-selected
{
    border: none;
}




QLineEdit
{
    color:orange;
}



QListWidget::item:hover
{
    border: none;
    background: #606060;
    border-radius: 3px;
}

QListWidget::item:selected, QTreeWidget::item:previously-selected
{
    border: none;
}

QListWidget#modList::item:selected
{
    background-color: #505050;
    color: #20A080;
}

/* for tournament*/
QListWidget#tourneyList
{
    background-image: url('%THEMEPATH%/stripe.png');
    background-position: top left;
    background-repeat:repeat-x;

    border-style:solid;
    border-width:1px;
    border-color:#353535;
    color:silver;
    padding:5px;
    background-color:#0F0F0F;
    border-top-right-radius : 5px;
    border-top-left-radius : 5px;
    border-bottom-left-radius : 5px;
    border-bottom-right-radius : 5px;
}
 
QTreeWidget::item:hover
{
    border: none;
    background: #606060;
    border-radius: 3px;
}

QTreeWidget::item:selected, QTreeWidget::item:previously-selected
{
    border: none;
}

/* ScrollWidgets*/
QScrollArea
{
    border-style:solid;
    border-width:1px;
    border-color:#353535;
    color:silver;
    padding:5px;
    background-color:#303038;
    border-bottom-left-radius : 5px;
    border-bottom-right-radius : 5px;
}


/* Scrollbars*/
QScrollBar {

    background-color: grey;
    width: 15px;
    margin: 16px 0;
}
QScrollBar::handle {
    background-image: url('%THEMEPATH%/drag3.png');
    background-position: center center;
    background-repeat:no-repeat;
    background-color: #2e2d2d;
    min-height: 24px;
    border-radius : 2px;
}

QScrollBar::handle:hover {
    border-radius : 2px;
    background-image: url('%THEMEPATH%/drag2.png');
    background-color: #d5d6d6;
    min-height: 24px;
}

QScrollBar::sub-line {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: #2f2f2f;
    height: 15px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}
QScrollBar::add-line  {

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #2f2f2f;
    height: 15px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar:down-arrow {
    background-image: url('%THEMEPATH%/scrollDown.png');
    background-position: center center;
    background-repeat:no-repeat;
 }

 QScrollBar:up-arrow {
    background-image: url('%THEMEPATH%/scrollUp.png');
    background-position: center center;
    background-repeat:no-repeat;

 }


QScrollBar::add-page
{
    background-color: #1f1f1f;
}

QScrollBar::sub-page
{
    background-color: #1f1f1f;
}


QLabel#labelSortGames,#hideGamesWithPw,#labelJoinGame,#labelHostGame,#labelAutomatch,#labelMyReplays,#labelLiveReplays,#labelHostTournament,#labelJoinTournament,#joinLabel,#labelTeamManagement
{
    color:white;
}

QLabel#labelModHint,#labelMyHint,#labelLiveHint,#labelSubsetRankedHint,#labelRankedHint,#labelTeamManagementHint,#labelTeamManagementHint2,#labelTeamManagementHint3
{
    color:#AAAAAA;
}

QGroupBox
{
    margin: 5px;
    border: 1px solid #353535;
    border-radius: 5px;
    background-color: rgb(32, 32, 37);
    color: silver;
}

QLabel
{
    color: silver;
}

/* Used for dialogs*/
QDialog 
{
    background-color: #575656;
}

QCheckBox#spoilerCheckbox
{
    color: white;
}

/* Used for Ranked Buttons only at the moment*/
QToolButton#rankedPlay
{
	color: silver;
	border-radius: 5px;
	border: 1px solid grey;
}

QToolButton::pressed 
{
    border: none;
    color: black;
    padding:5px;
    background-color:#383838;
    border-radius : 5px;
}

QToolButton::hover
{
    border: none;

    color:silver;
    padding:5px;
    background-color:#808080;
    border-radius : 5px;
 }

QToolButton::checked
{
    border: none;
    border: 2px solid #353535;

    color:black;
    padding:5px;
    background-color:#C0C0C0;
    border-radius : 5px;
 }

QComboBox, QComboBox:selected
{
    color:orange;
    selection-color:orange;
    background-color: #575656;
    selection-background-color: #575656;
}



QComboBox QAbstractItemView {
    border: 2px solid darkgray;
    selection-background-color: #575656;
    background-color: #575656;
}
