/* Typical widget controls (top tabs, etc) */

QTabWidget::pane
{
	 /* The tab widget frame */
     border: none;
	 background-color: #2f2f2f;
 }


 QTabWidget::tab-bar
{
	top: 0px;
    left: 25px; /* move to the right by 25px */
 }

							
/* Style the tab using the tab sub-control. Note that it reads QTabBar _not_ QTabWidget */	
QTabWidget > QTabBar::tab 
{
	background-color:#383838;
	color: silver;
	min-width: 80px;
	padding:4px;
}


QTabWidget > QTabBar::tab:!selected 
{

	background-color: #203040;
}

								
QTabWidget > QTabBar::tab:hover 
{
	color:white;
	background-color: #606060;
}


QTabWidget > QTabBar::tab:selected 
{
	color:white;
	background-color: #303030;
}

/* tables */
body {background-color: #2f2f2f; overflow: hidden;}

.ladder_switch {float: right;}
.ladder_wrap {float: right; border: 1px solid black; margin-left: 3px;}
.ladder {padding: 0 2px; text-align: center; margin: 1px; background-color: rgb(216, 216, 217); display: block; cursor: default; color: black; text-decoration: none;}
.ladder.selected {background-color: rgb(146, 193, 228);}
.ladder:hover {background-color: rgb(241, 241, 241);}
.ladder.selected:hover {background-color: rgb(146, 193, 228);}
.scroll {overflow-y: scroll; height: 100%; border: 1px solid black;}
.players {
	font-family:arial;
	font-size: 8pt;
	width: 100%;
}
.players th{
	background-color: rgb(146, 193, 228);
	padding: 0 2px;
	font-size: 12pt;
	border-left: 2px dotted rgb(75, 148, 231);
}
.players th:first-child {border-left: 1px solid rgb(146, 193, 228);}

.players td {
	color: #3D3D3D;
	padding: 4px;
	background-color: rgb(216, 216, 217);
	vertical-align: top;
}

.players tr.even td {background-color: rgb(241, 241, 241); }
/*.players tr:nth-child(odd) td {background-color:#F0F0F6;}*/
.highlight td {background-color: #6CF;}

.rank, .rating, .login {text-align: center; color: #3D3D3D}
.name {text-align: left;}

.division  {color: white; font-size: 16pt;font-family:"Lucida Console"}

.pages {float: right; cursor: default; margin-bottom: 3px;}
	.pages a {color: blue;}
	.pages .current_page {color: black;}

.search_form {float: left;}

