/* Typical widget controls (top tabs, etc) */

QTabWidget::pane
{
     /* The tab widget frame */
     border: none;
     background-color: #2f2f2f;
 }

 QTabWidget::tab-bar
{
    top: 0px;
    left: 25px; /* move to the right by 25px */
 }

/* Style the tab using the tab sub-control. Note that it reads QTabBar _not_ QTabWidget */
QTabWidget > QTabBar::tab
{
    background-color:#383838;
    color: silver;
    min-width: 80px;
    padding:4px;
}

QTabWidget > QTabBar::tab:!selected
{
    background-color: #203040;
}

QTabWidget > QTabBar::tab:hover
{
    color:white;
    background-color: #606060;
}

QTabWidget > QTabBar::tab:selected
{
    color:white;
    background-color: #303030;
}
